[project]
	description = A mirror of the KiCad development branch, which is hosted at launchpad using bzr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nick Østergaard (nickoe)
[access "refs/for/refs/*"]
	read = group user/Nick Østergaard (nickoe)
	push = group user/Nick Østergaard (nickoe)
	label-Code-Review = -2..+2 group user/Nick Østergaard (nickoe)
	label-Verified = -1..+1 group user/Nick Østergaard (nickoe)
	rebase = group user/Nick Østergaard (nickoe)
	removeReviewer = group user/Nick Østergaard (nickoe)
	submit = group user/Nick Østergaard (nickoe)
[access "refs/heads/*"]
	read = group user/Nick Østergaard (nickoe)
	create = group user/Nick Østergaard (nickoe)
	push = +force group user/Nick Østergaard (nickoe)
	pushMerge = group user/Nick Østergaard (nickoe)
[access "refs/tags/*"]
	push = +force group user/Nick Østergaard (nickoe)
	pushTag = group user/Nick Østergaard (nickoe)
	pushSignedTag = group user/Nick Østergaard (nickoe)
[submit]
	action = fast forward only
	mergeContent = false
