[project]
	description = A mirror of the KiCad development branch, which is hosted at launchpad using bzr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nickoe
[access "refs/for/refs/*"]
	read = group user/nickoe
	push = group user/nickoe
	label-Code-Review = -2..+2 group user/nickoe
	label-Verified = -1..+1 group user/nickoe
	rebase = group user/nickoe
	removeReviewer = group user/nickoe
	submit = group user/nickoe
[access "refs/heads/*"]
	read = group user/nickoe
	create = group user/nickoe
	push = +force group user/nickoe
	pushMerge = group user/nickoe
[access "refs/tags/*"]
	push = +force group user/nickoe
	pushTag = group user/nickoe
	pushSignedTag = group user/nickoe
[submit]
	action = fast forward only
	mergeContent = false
